@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(
        60deg,
        hsl(0deg 0% 0%) 0%,
        hsl(260deg 22% 10%) 19%,
        hsl(256deg 27% 16%) 33%,
        hsl(255deg 29% 24%) 43%,
        hsl(255deg 31% 31%) 51%,
        hsl(254deg 32% 39%) 57%,
        hsl(254deg 33% 47%) 61%,
        hsl(253deg 42% 56%) 67%,
        hsl(253deg 62% 65%) 77%,
        hsl(253deg 96% 74%) 100%
      );
}
.container{
    width: 370px;
    border-radius: 10px;
    padding: 25px 30px;
    background-color: rgba(255, 255, 255, 0.356);
}
.container header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.container form{
    margin: 35px 0 20px;
}
form .row{
    display: flex;
    flex-direction: column;
}
form .row label{
    font-size: 18px;
    margin-bottom: 10px;
}
form :where(textarea, select, button){
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
}
form textarea{
    resize: none;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    background-color: rgba(204, 204, 204, 0);
}
form .row .outer{
    height: 50px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form .row select{
    font-size: 15px;
    background-color: rgba(204, 204, 204, 0);
}
form button{
    height: 50px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(94, 65, 150);
}
form button:hover{
    background-color: rgba(32, 1, 104, 0.8);
}
form button:active{
    background-color: rgba(1, 63, 104, 0.6);
}
form input{
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(94, 65, 150);
    border: none; 
    border-radius: 5%;
}
form input:hover{
    background-color: rgba(32, 1, 104, 0.8);
}
form input:active{
    background-color: rgba(1, 63, 104, 0.6);
}